@import "tailwindcss";


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
@layer utilities {
  /* Smooth flying animation for the product */
  .animate-fly-to-cart {
    animation: fly-to-cart 1.5s cubic-bezier(0.25, 0.1, 0.25, 1) forwards;
  }

  @keyframes fly-to-cart {
    0% {
      transform: translate(0, 0) scale(1);
      opacity: 1;
    }
   
    100% {
      transform: translate(var(--end-x), var(--end-y)) scale(0.5);
      opacity: 0.5;
    }
  }
}
